USE [master]
GO
/****** Object:  Database [LibrairieABC]    Script Date: 2022-11-30 01:55:04 ******/
CREATE DATABASE [LibrairieABC]

GO
USE [LibrairieABC]
GO
/****** Object:  Table [dbo].[Auteur]    Script Date: 2022-11-30 01:55:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Auteur](
	[AuteurID] [int] IDENTITY(1,1) NOT NULL,
	[NomAuteur] [nvarchar](50) NOT NULL,
	[PrenomAuteur] [nvarchar](50) NOT NULL,
	[AliasAuteur] [nvarchar](50) NULL,
	[DateNaissance] [datetime2](7) NOT NULL,
	[DateDeces] [datetime2](7) NULL,
 CONSTRAINT [PK_Auteur_AuteurID] PRIMARY KEY CLUSTERED 
(
	[AuteurID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categorie]    Script Date: 2022-11-30 01:55:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorie](
	[CategorieID] [int] IDENTITY(1,1) NOT NULL,
	[Categorie] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_Categorie_CategorieID] PRIMARY KEY CLUSTERED 
(
	[CategorieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Livre]    Script Date: 2022-11-30 01:55:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Livre](
	[LivreID] [int] IDENTITY(1,1) NOT NULL,
	[AuteurID] [int] NOT NULL,
	[Titre] [nvarchar](50) NOT NULL,
	[CategorieID] [int] NOT NULL,
	[Editeur] [nvarchar](50) NOT NULL,
	[DateParution] [datetime2](7) NOT NULL,
	[ISBN] [nvarchar](20) NOT NULL,
	[PrixVente] [money] NOT NULL,
	[DateRecu] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Livre_LivreID] PRIMARY KEY CLUSTERED 
(
	[LivreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Achat]    Script Date: 2022-11-30 01:55:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Achat](
	[AchatID] [int] IDENTITY(1,1) NOT NULL,
	[OrderDate] [datetime2](7) NOT NULL,
	[DueDate] [datetime2](7) NOT NULL,
	[CLientID] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetailsAchat]    Script Date: 2022-11-30 01:55:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetailsAchat](
	[DetailsAchatID] [int] IDENTITY(1,1) NOT NULL,
	[AchatID] [int] NOT NULL,
	[LivreID] [int] NOT NULL,
	[PrixVendu] [money] NOT NULL,
	[Qty] [int] NOT NULL,
 CONSTRAINT [PK_DetailsAchat_DetailsAchatID] PRIMARY KEY CLUSTERED 
(
	[DetailsAchatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 2022-11-30 01:55:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[CLientID] [int] IDENTITY(1,1) NOT NULL,
	[NomClient] [nvarchar](50) NOT NULL,
	[PrenomClient] [nvarchar](50) NOT NULL,
	[Courriel] [nvarchar](50) NOT NULL,
	[Telephone] [nvarchar](14) NOT NULL,
	[NoClivique] [nvarchar](6) NULL,
	[Rue] [nvarchar](50) NULL,
	[Appartement] [nvarchar](4) NULL,
	[Ville] [nvarchar](50) NULL,
	[Province] [nvarchar](50) NULL,
	[CodePostal] [nvarchar](6) NULL,
 CONSTRAINT [PK_Client_CLientID] PRIMARY KEY CLUSTERED 
(
	[CLientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClientSansAchat]    Script Date: 2022-11-30 01:55:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClientSansAchat](
	[CLientSansAchatID] [int] IDENTITY(1,1) NOT NULL,
	[CLientID] [int] NOT NULL,
	[NomClient] [nvarchar](50) NOT NULL,
	[PrenomClient] [nvarchar](50) NOT NULL,
	[Courriel] [nvarchar](50) NOT NULL,
	[Telephone] [nvarchar](14) NOT NULL,
	[NoClivique] [nvarchar](6) NULL,
	[Rue] [nvarchar](50) NULL,
	[Appartement] [nvarchar](4) NULL,
	[Ville] [nvarchar](50) NULL,
	[Province] [nvarchar](50) NULL,
	[CodePostal] [nvarchar](6) NULL,
	[DateSuppression] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ClientSansAchat_CLientSansAchatID] PRIMARY KEY CLUSTERED 
(
	[CLientSansAchatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistoriqueLivreNonVendus]    Script Date: 2022-11-30 01:55:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistoriqueLivreNonVendus](
	[NoHistoriqueLivreNonVendusID] [int] IDENTITY(1,1) NOT NULL,
	[LivreID] [int] NULL,
	[AuteurID] [int] NOT NULL,
	[Titre] [nvarchar](50) NOT NULL,
	[CategorieID] [int] NOT NULL,
	[Editeur] [nvarchar](50) NOT NULL,
	[DateParution] [datetime2](7) NOT NULL,
	[ISBN] [nvarchar](20) NOT NULL,
	[PrixVente] [money] NOT NULL,
	[DateRecu] [datetime2](7) NOT NULL,
	[DateDeclarationInvendus] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_HistoriqueLivreNonVendus_NoHistoriqueLivreNonVendusID] PRIMARY KEY CLUSTERED 
(
	[NoHistoriqueLivreNonVendusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Achat] ON 

INSERT [dbo].[Achat] ([AchatID], [OrderDate], [DueDate], [CLientID]) VALUES (1, CAST(N'2021-02-23T00:00:00.0000000' AS DateTime2), CAST(N'2021-02-26T00:00:00.0000000' AS DateTime2), 1)
INSERT [dbo].[Achat] ([AchatID], [OrderDate], [DueDate], [CLientID]) VALUES (2, CAST(N'2021-10-10T00:00:00.0000000' AS DateTime2), CAST(N'2021-10-24T00:00:00.0000000' AS DateTime2), 2)
INSERT [dbo].[Achat] ([AchatID], [OrderDate], [DueDate], [CLientID]) VALUES (3, CAST(N'2022-01-10T00:00:00.0000000' AS DateTime2), CAST(N'2022-01-24T00:00:00.0000000' AS DateTime2), 2)
SET IDENTITY_INSERT [dbo].[Achat] OFF
GO
SET IDENTITY_INSERT [dbo].[DetailsAchat] ON 

INSERT [dbo].[DetailsAchat] ([DetailsAchatID], [AchatID], [LivreID], [PrixVendu], [Qty]) VALUES (1, 1, 3, 11.9500, 1)
INSERT [dbo].[DetailsAchat] ([DetailsAchatID], [AchatID], [LivreID], [PrixVendu], [Qty]) VALUES (2, 1, 2, 21.9500, 5)
INSERT [dbo].[DetailsAchat] ([DetailsAchatID], [AchatID], [LivreID], [PrixVendu], [Qty]) VALUES (3, 2, 3, 11.9500, 1)
SET IDENTITY_INSERT [dbo].[DetailsAchat] OFF
GO
SET IDENTITY_INSERT [dbo].[Auteur] ON 

INSERT [dbo].[Auteur] ([AuteurID], [NomAuteur], [PrenomAuteur], [AliasAuteur], [DateNaissance], [DateDeces]) VALUES (1, N'Connelly', N'Michael', NULL, CAST(N'1956-07-21T00:00:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[Auteur] ([AuteurID], [NomAuteur], [PrenomAuteur], [AliasAuteur], [DateNaissance], [DateDeces]) VALUES (2, N'Scott', N'Walter', NULL, CAST(N'1771-08-15T00:00:00.0000000' AS DateTime2), CAST(N'1832-09-21T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Auteur] ([AuteurID], [NomAuteur], [PrenomAuteur], [AliasAuteur], [DateNaissance], [DateDeces]) VALUES (3, N'Ludlum', N'Robert', NULL, CAST(N'1927-05-25T00:00:00.0000000' AS DateTime2), CAST(N'2001-04-12T00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Auteur] OFF
GO
SET IDENTITY_INSERT [dbo].[Categorie] ON 

INSERT [dbo].[Categorie] ([CategorieID], [Categorie]) VALUES (1, N'Historique')
INSERT [dbo].[Categorie] ([CategorieID], [Categorie]) VALUES (2, N'Espionnage')
INSERT [dbo].[Categorie] ([CategorieID], [Categorie]) VALUES (3, N'Fantastique')
SET IDENTITY_INSERT [dbo].[Categorie] OFF
GO
SET IDENTITY_INSERT [dbo].[Client] ON 

INSERT [dbo].[Client] ([CLientID], [NomClient], [PrenomClient], [Courriel], [Telephone], [NoClivique], [Rue], [Appartement], [Ville], [Province], [CodePostal]) VALUES (1, N'Farrell', N'Barclay', N'Quisque@augueeu.net', N'1-395-412-8775', NULL, NULL, NULL, NULL, NULL, N'H1B2N5')
INSERT [dbo].[Client] ([CLientID], [NomClient], [PrenomClient], [Courriel], [Telephone], [NoClivique], [Rue], [Appartement], [Ville], [Province], [CodePostal]) VALUES (2, N'Gordon', N'Ila', N'Sed@pedeblandit.com', N'1-249-246-5309', NULL, NULL, NULL, NULL, NULL, N'J3V4C6')
INSERT [dbo].[Client] ([CLientID], [NomClient], [PrenomClient], [Courriel], [Telephone], [NoClivique], [Rue], [Appartement], [Ville], [Province], [CodePostal]) VALUES (3, N'Mccoy', N'Nora', N'sed@etmagnis.net', N'1-754-328-0811', NULL, NULL, NULL, NULL, NULL, N'J2C3X2')
SET IDENTITY_INSERT [dbo].[Client] OFF
GO

GO

GO
SET IDENTITY_INSERT [dbo].[Livre] ON 

INSERT [dbo].[Livre] ([LivreID], [AuteurID], [Titre], [CategorieID], [Editeur], [DateParution], [ISBN], [PrixVente], [DateRecu]) VALUES (1, 7, N'Le Rouge et le Noir', 7, N'Le Livre de Poche', CAST(N'1997-01-01T00:00:00.0000000' AS DateTime2), N'2253006203', 7.6890, CAST(N'2016-01-02T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Livre] ([LivreID], [AuteurID], [Titre], [CategorieID], [Editeur], [DateParution], [ISBN], [PrixVente], [DateRecu]) VALUES (2, 6, N'Nuits d''encre', 6, N'TABOU', CAST(N'2017-10-03T00:00:00.0000000' AS DateTime2), N'9782363260499', 24.1450, CAST(N'2011-01-02T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Livre] ([LivreID], [AuteurID], [Titre], [CategorieID], [Editeur], [DateParution], [ISBN], [PrixVente], [DateRecu]) VALUES (3, 5, N'Vingt mille lieues sous les mers', 5, N'LGF - LIVRE DE POCHE', CAST(N'2005-02-17T00:00:00.0000000' AS DateTime2), N'9782253006329', 13.1450, CAST(N'2016-01-02T00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Livre] OFF
GO
SET ANSI_PADDING ON
GO

ALTER TABLE [dbo].[Achat] ADD  CONSTRAINT [DF_Achat_OrderDate]  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[Achat] ADD  CONSTRAINT [DF_Achat_DueDate]  DEFAULT (getdate()) FOR [DueDate]
GO
ALTER TABLE [dbo].[Livre] ADD  CONSTRAINT [DF_Livre_DateRecu]  DEFAULT (getdate()) FOR [DateRecu]
GO
ALTER TABLE [dbo].[Achat]  WITH CHECK ADD  CONSTRAINT [FK_Achat_CLientID] FOREIGN KEY([CLientID])
REFERENCES [dbo].[Client] ([CLientID])
GO
ALTER TABLE [dbo].[Achat] CHECK CONSTRAINT [FK_Achat_CLientID]
GO
ALTER TABLE [dbo].[DetailsAchat]  WITH CHECK ADD  CONSTRAINT [FK_DetailsAchat_LivreID] FOREIGN KEY([LivreID])
REFERENCES [dbo].[Livre] ([LivreID])
GO
ALTER TABLE [dbo].[DetailsAchat] CHECK CONSTRAINT [FK_DetailsAchat_LivreID]
GO
ALTER TABLE [dbo].[Livre]  WITH CHECK ADD  CONSTRAINT [FK_Livre_AuteurID] FOREIGN KEY([AuteurID])
REFERENCES [dbo].[Auteur] ([AuteurID])
GO
ALTER TABLE [dbo].[Livre] CHECK CONSTRAINT [FK_Livre_AuteurID]
GO
ALTER TABLE [dbo].[Livre]  WITH CHECK ADD  CONSTRAINT [FK_Livre_CategorieID] FOREIGN KEY([CategorieID])
REFERENCES [dbo].[Categorie] ([CategorieID])
GO
ALTER TABLE [dbo].[Livre] CHECK CONSTRAINT [FK_Livre_CategorieID]
GO
ALTER TABLE [dbo].[Achat]  WITH CHECK ADD  CONSTRAINT [CHK_Achat_DueDate] CHECK  (([DueDate]>=[OrderDate]))
GO
ALTER TABLE [dbo].[Achat] CHECK CONSTRAINT [CHK_Achat_DueDate]
GO
ALTER TABLE [dbo].[DetailsAchat]  WITH CHECK ADD  CONSTRAINT [CHK_DetailsAchat_PrixVendu] CHECK  (([PrixVendu]>=(0)))
GO
ALTER TABLE [dbo].[DetailsAchat] CHECK CONSTRAINT [CHK_DetailsAchat_PrixVendu]
GO
ALTER TABLE [dbo].[DetailsAchat]  WITH CHECK ADD  CONSTRAINT [CHK_DetailsAchat_Qty] CHECK  (([Qty]>(0)))
GO
ALTER TABLE [dbo].[DetailsAchat] CHECK CONSTRAINT [CHK_DetailsAchat_Qty]
GO
ALTER TABLE [dbo].[Auteur]  WITH CHECK ADD  CONSTRAINT [CHK_Auteur_DateDeces] CHECK  (([DateDeces]<=getdate()))
GO
ALTER TABLE [dbo].[Auteur] CHECK CONSTRAINT [CHK_Auteur_DateDeces]
GO
ALTER TABLE [dbo].[Auteur]  WITH CHECK ADD  CONSTRAINT [CHK_Auteur_DateNaissance] CHECK  (([DateNaissance]<getdate()))
GO
ALTER TABLE [dbo].[Auteur] CHECK CONSTRAINT [CHK_Auteur_DateNaissance]
GO
ALTER TABLE [dbo].[Livre]  WITH CHECK ADD  CONSTRAINT [CHK_Livre_PrixVente] CHECK  (([PrixVente]>(0)))
GO
ALTER TABLE [dbo].[Livre] CHECK CONSTRAINT [CHK_Livre_PrixVente]

GO
