USE [master]
GO
/****** Object:  Database [BDCommerciale_R12]    Script Date: 2022-11-01 06:10:10 ******/
CREATE DATABASE BDCommerciale_R12
 
GO
USE BDCommerciale_R12
GO
/****** Object:  Table [dbo].[Article]    Script Date: 2022-11-01 06:10:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Article](
	[ArticleID] [int] IDENTITY(1,1) NOT NULL,
	[NumArticle] [nvarchar](4) NOT NULL,
	[Description] [nvarchar](80) NOT NULL,
	[StockDispo] [int] NULL,
	[CategorieID] [int] NOT NULL,
	[MagasinID] [int] NOT NULL,
	[PrixRegulier] [money] NOT NULL,
 CONSTRAINT [PK_Article_ArticleID] PRIMARY KEY CLUSTERED 
(
	[ArticleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistChangementDePrix]    Script Date: 2022-11-05 08:06:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].HistChangementDePrix(
	[HistChangementDePrixID] [int] IDENTITY(1,1) NOT NULL,
	[ArticleID] [int] NOT NULL,
	[DateModification] [datetime] NOT NULL,
	[PrixRegulierAvant] [money] NULL,
	[PrixRegulierApres] [money] NULL,
	
 CONSTRAINT [PK_HistChangementDePrix_HistChangementDePrixID] PRIMARY KEY CLUSTERED 
(
	HistChangementDePrixID ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistStockDispo]    Script Date: 2022-11-05 08:06:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].HistStockDispo(
	[HistStockDispoID] [int] IDENTITY(1,1) NOT NULL,
	[ArticleID] [int] NOT NULL,
	[DateModification] [datetime] NOT NULL,
	[StockDispoAvant] [int] NULL,
	[StockDispoApres] [int] NULL,
	
 CONSTRAINT [PK_HistStockDispo_HistStockDispoID] PRIMARY KEY CLUSTERED 
(
	HistStockDispoID ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categorie]    Script Date: 2022-11-01 06:10:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorie](
	[CategorieID] [int] IDENTITY(1,1) NOT NULL,
	[NomCategorie] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Catégorie] PRIMARY KEY CLUSTERED 
(
	[CategorieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 2022-11-01 06:10:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[ClientID] [int] IDENTITY(1,1) NOT NULL,
	[NumClient] [nvarchar](4) NOT NULL,
	[Nom] [nvarchar](80) NOT NULL,
	[Prenom] [nvarchar](80) NOT NULL,
	[NoCivique] [nvarchar](6) NULL,
	[NoApp] [nvarchar](4) NULL,
	[Rue] [nvarchar](100) NULL,
	[Ville] [nvarchar](50) NULL,
	[Province] [nvarchar](50) NULL,
	[CodePostal] [nvarchar](20) NULL,
	[Solde] [money] NULL,
	[LimiteCredit] [money] NULL,
	[RepresentantID] [int] NULL,
 CONSTRAINT [PK_Client_ClientID] PRIMARY KEY CLUSTERED 
(
	[ClientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClientSansCommande]    Script Date: 2022-11-01 06:10:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClientSansCommande](
	[ClientSansCommandeID] [int] IDENTITY(1,1) NOT NULL,
	[ClientID] [int] NOT NULL,
	[NumClient] [nvarchar](4) NOT NULL,
	[Nom] [nvarchar](80) NOT NULL,
	[Prenom] [nvarchar](80) NOT NULL,
	[NoCivique] [nvarchar](6) NULL,
	[NoApp] [nvarchar](4) NULL,
	[Rue] [nvarchar](100) NULL,
	[Ville] [nvarchar](50) NULL,
	[Province] [nvarchar](50) NULL,
	[CodePostal] [nvarchar](20) NULL,
	[Solde] [money] NULL,
	[LimiteCredit] [money] NULL,
	[RepresentantID] [int] NULL,
	DateSuppressionListeClient datetime,
 CONSTRAINT [PK_ClientSansCommande_ClientSansCommandeID] PRIMARY KEY CLUSTERED 
(
	[ClientSansCommandeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Commande]    Script Date: 2022-11-01 06:10:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Commande](
	[CommandeID] [int] IDENTITY(1,1) NOT NULL,
	[NumCommande] [nvarchar](10) NOT NULL,
	[DateCommande] [datetime] NULL,
	[ClientID] [int] NULL,
 CONSTRAINT [PK_Commande_CommandeID] PRIMARY KEY CLUSTERED 
(
	[CommandeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetailsCommande]    Script Date: 2022-11-01 06:10:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetailsCommande](
	[DetailsCommandeID] [int] IDENTITY(1,1) NOT NULL,
	[QuantiteCommande] [decimal](6, 0) NOT NULL,
	[PrixVendu] [money] NOT NULL,
	[CommandeID] [int] NOT NULL,
	[ArticleID] [int] NOT NULL,
 CONSTRAINT [PK_Ligne_Commande_DetailsCommandeID] PRIMARY KEY CLUSTERED 
(
	[DetailsCommandeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Representant]    Script Date: 2022-11-01 06:10:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Representant](
	[RepresentantID] [int] IDENTITY(1,1) NOT NULL,
	[NumRepresentant] [nvarchar](4) NULL,
	[Nom] [nvarchar](80) NULL,
	[Prenom] [nvarchar](80) NULL,
	[NoCivique] [nvarchar](6) NULL,
	[NoApp] [nvarchar](4) NULL,
	[Rue] [nvarchar](100) NULL,
	[Ville] [nvarchar](50) NULL,
	[Province] [nvarchar](50) NULL,
	[CodePostal] [nvarchar](20) NULL,
	[VentesRealisees] [money] NULL,
	[TauxCommission] [decimal](5, 2) NULL,
 CONSTRAINT [PK_Representant] PRIMARY KEY CLUSTERED 
(
	[RepresentantID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Article] ON 

INSERT [dbo].[Article] ([ArticleID], [NumArticle], [Description], [StockDispo], [CategorieID], [MagasinID], [PrixRegulier]) VALUES (1, N'AX12', N'Fer à repasser', 104, 2, 3, 24.9500)
INSERT [dbo].[Article] ([ArticleID], [NumArticle], [Description], [StockDispo], [CategorieID], [MagasinID], [PrixRegulier]) VALUES (2, N'AZ52', N'Cible         ', 20, 3, 2, 12.9500)
INSERT [dbo].[Article] ([ArticleID], [NumArticle], [Description], [StockDispo], [CategorieID], [MagasinID], [PrixRegulier]) VALUES (3, N'BA74', N'Basket        ', 40, 3, 1, 29.9500)
SET IDENTITY_INSERT [dbo].[Article] OFF
GO
SET IDENTITY_INSERT [dbo].[Categorie] ON 

INSERT [dbo].[Categorie] ([CategorieID], [NomCategorie]) VALUES (1, N'Électroménager')
INSERT [dbo].[Categorie] ([CategorieID], [NomCategorie]) VALUES (2, N'Appareils de Cuisine')
INSERT [dbo].[Categorie] ([CategorieID], [NomCategorie]) VALUES (3, N'Sport')
SET IDENTITY_INSERT [dbo].[Categorie] OFF
GO
SET IDENTITY_INSERT [dbo].[Client] ON 

INSERT [dbo].[Client] ([ClientID], [NumClient], [Nom], [Prenom], [NoCivique], [NoApp], [Rue], [Ville], [Province], [CodePostal], [Solde], [LimiteCredit], [RepresentantID]) VALUES (1, N'124', N'Moulineau', N'Paul', N'368', NULL, N'rue du Campanile', N'Québec', N'Qc', N'G1X 4G6', 818.7500, 1000.0000, 1)
INSERT [dbo].[Client] ([ClientID], [NumClient], [Nom], [Prenom], [NoCivique], [NoApp], [Rue], [Ville], [Province], [CodePostal], [Solde], [LimiteCredit], [RepresentantID]) VALUES (2, N'256', N'Allard', N'Martine', N'996', NULL, N'St-Michel', N'Montréal-Nord', N'Qc', N'H1H 5G7', 21.5000, 1500.0000, 2)
INSERT [dbo].[Client] ([ClientID], [NumClient], [Nom], [Prenom], [NoCivique], [NoApp], [Rue], [Ville], [Province], [CodePostal], [Solde], [LimiteCredit], [RepresentantID]) VALUES (3, N'311', N'Boucher', N'Camille', N'540', NULL, N'Bd des Galeries', N'Québec', N'Qc', N'G2K 1N4', 825.7500, 1000.0000, 3)
SET IDENTITY_INSERT [dbo].[Client] OFF
GO
SET IDENTITY_INSERT [dbo].[Commande] ON 

INSERT [dbo].[Commande] ([CommandeID], [NumCommande], [DateCommande], [ClientID]) VALUES (1, N'12489', CAST(N'2019-09-02T00:00:00.000' AS DateTime), 5)
INSERT [dbo].[Commande] ([CommandeID], [NumCommande], [DateCommande], [ClientID]) VALUES (2, N'12500', CAST(N'2019-09-28T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Commande] ([CommandeID], [NumCommande], [DateCommande], [ClientID]) VALUES (3, N'12504', CAST(N'2021-12-01T00:00:00.000' AS DateTime), 5)
SET IDENTITY_INSERT [dbo].[Commande] OFF
GO
SET IDENTITY_INSERT [dbo].[DetailsCommande] ON 

INSERT [dbo].[DetailsCommande] ([DetailsCommandeID], [QuantiteCommande], [PrixVendu], [CommandeID], [ArticleID]) VALUES (1, CAST(11 AS Decimal(6, 0)), 21.9500, 3, 1)
INSERT [dbo].[DetailsCommande] ([DetailsCommandeID], [QuantiteCommande], [PrixVendu], [CommandeID], [ArticleID]) VALUES (2, CAST(1 AS Decimal(6, 0)), 149.9900, 3, 5)
INSERT [dbo].[DetailsCommande] ([DetailsCommandeID], [QuantiteCommande], [PrixVendu], [CommandeID], [ArticleID]) VALUES (3, CAST(1 AS Decimal(6, 0)), 399.9900, 3, 6)
SET IDENTITY_INSERT [dbo].[DetailsCommande] OFF
GO
SET IDENTITY_INSERT [dbo].[Representant] ON 

INSERT [dbo].[Representant] ([RepresentantID], [NumRepresentant], [Nom], [Prenom], [NoCivique], [NoApp], [Rue], [Ville], [Province], [CodePostal], [VentesRealisees], [TauxCommission]) VALUES (1, NULL, N'Déchêne', N'Ginette', N'659', NULL, N'3E Avenue', N'Québec', N'Qc', NULL, 2150.0000, CAST(0.05 AS Decimal(5, 2)))
INSERT [dbo].[Representant] ([RepresentantID], [NumRepresentant], [Nom], [Prenom], [NoCivique], [NoApp], [Rue], [Ville], [Province], [CodePostal], [VentesRealisees], [TauxCommission]) VALUES (2, NULL, N'Denault', N'Carole', N'117', NULL, N'Sherbrooke Ouest', N'Montréal', N'Qc', N'H3A 1H6', 4912.5000, CAST(0.07 AS Decimal(5, 2)))
INSERT [dbo].[Representant] ([RepresentantID], [NumRepresentant], [Nom], [Prenom], [NoCivique], [NoApp], [Rue], [Ville], [Province], [CodePostal], [VentesRealisees], [TauxCommission]) VALUES (3, NULL, N'Durant', N'Marie', N'333', NULL, N'rue du Carrefour', N'Laval', N'Qc', N'H7T 3C2', 2150.0000, CAST(0.05 AS Decimal(5, 2)))
SET IDENTITY_INSERT [dbo].[Representant] OFF
GO
ALTER TABLE [dbo].[Client]  WITH CHECK ADD  CONSTRAINT [FK_Client_Representant] FOREIGN KEY([RepresentantID])
REFERENCES [dbo].[Representant] ([RepresentantID])
GO
ALTER TABLE [dbo].[Client] CHECK CONSTRAINT [FK_Client_Representant]
GO
ALTER TABLE [dbo].[Commande]  WITH CHECK ADD  CONSTRAINT [FK_Commande_Client] FOREIGN KEY([ClientID])
REFERENCES [dbo].[Client] ([ClientID])
GO
ALTER TABLE [dbo].[Commande] CHECK CONSTRAINT [FK_Commande_Client]
GO
ALTER TABLE [dbo].[DetailsCommande]  WITH CHECK ADD  CONSTRAINT [FK_DetailsCommande_Article] FOREIGN KEY([ArticleID])
REFERENCES [dbo].[Article] ([ArticleID])
GO
ALTER TABLE [dbo].[DetailsCommande] CHECK CONSTRAINT [FK_DetailsCommande_Article]
GO
ALTER TABLE [dbo].[DetailsCommande]  WITH CHECK ADD  CONSTRAINT [FK_DetailsCommande_Commande] FOREIGN KEY([CommandeID])
REFERENCES [dbo].[Commande] ([CommandeID])
GO
ALTER TABLE [dbo].[DetailsCommande] CHECK CONSTRAINT [FK_DetailsCommande_Commande]
GO

