
<a asp-action="PreferenceEtudiant">Rechercher les fruits préférés d'un étudiant</a>
<br />
<a asp-action="AjouterImage">Ajouter une image pour un fruit</a>
<br />
<span style="color:lime">@ViewData["message"]</span>